<form class="formValidation-form" [formGroup]="formValidation" >
  <mat-form-field class="formValidation-form-field">
    <input matInput placeholder="Email" [(ngModel)]="formEmail" formControlName="email" [errorStateMatcher]="matcher">
    <mat-error *ngIf="formValidation.get('email').hasError('email') && !formValidation.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="formValidation.get('email').hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="formValidation-form-field">
    <input matInput type="password" placeholder="Password" [(ngModel)]="formPassword" formControlName="password" [errorStateMatcher]="matcher">
    <mat-hint>Passwords must match, atleast 8 charactes long</mat-hint>
    <mat-error *ngIf="formValidation.get('password').hasError('passwordMismatch') && !formValidation.get('password').hasError('required')  && !formValidation.get('passwordConfirm').hasError('required')">
        Passwords are different
      </mat-error>
      <mat-error *ngIf="formValidation.get('password').hasError('passwordShort') && !formValidation.get('password').hasError('required')">
          Password is to short
      </mat-error>
    <mat-error *ngIf="formValidation.get('password').hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="formValidation-form-field">
    <input matInput type="password" placeholder="Password confirm" [(ngModel)]="formPasswordConfirm" formControlName="passwordConfirm" [errorStateMatcher]="matcher">
    <mat-hint>Passwords must match, atleast 8 charactes long</mat-hint>
    <mat-error *ngIf="formValidation.get('passwordConfirm').hasError('passwordMismatch') && !formValidation.get('passwordConfirm').hasError('required')  && !formValidation.get('password').hasError('required')">
        Passwords are different
      </mat-error>
      <mat-error *ngIf="formValidation.get('passwordConfirm').hasError('passwordShort') && !formValidation.get('passwordConfirm').hasError('required')">
          Password is to short
      </mat-error>
    <mat-error *ngIf="formValidation.get('passwordConfirm').hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button type="button" [disabled]="!(this.formValidation.status == 'VALID')" class="formValidation-form-confirm" (click)="confirmValidation()">
      <mat-icon>send</mat-icon>
      <span>Send</span>
    </button>
</form>
