<div class="main-header">
  <div class="main-header-nav">
    <button mat-raised-button type="button" class="main-header-nav-jsonTable" (click)="activePage = ''">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-raised-button type="button" class="main-header-nav-jsonTable" (click)="activePage = 'jsonTable'">
      <mat-icon>list</mat-icon>
      <span>Sort table demo</span>
    </button>
    <button mat-raised-button type="button" class="main-header-nav-formValidation" (click)="activePage = 'formValidation'">
      <mat-icon>done_all</mat-icon>
      <span>Form validation demo</span>
    </button>
  </div>
</div>
<div class="main-container">


  <div class="main-default-content" *ngIf="activePage == ''">
    <span class="main-welcome-text">Welcome</span>
    <span class="main-about-text">This app is my solution to your challenge</span>
  </div>


  <app-json-table *ngIf="activePage == 'jsonTable'"></app-json-table>
  
  <app-form-validation *ngIf="activePage == 'formValidation'"></app-form-validation>

</div>
